* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow: auto;
}

/* NAVBAR */
.logo {
  width: 5vw;
  flex-shrink: 0px;
  height: auto;
  margin: 2vh 0;
  margin: 0px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(84, 212, 87);
  background: linear-gradient(
    25deg,
    rgba(84, 212, 87, 1) 0%,
    rgba(47, 192, 50, 1) 50%,
    rgba(28, 95, 30, 1) 100%
  );
  padding: 0 2vw;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin-right: 5vw;
}

.navButton {
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navButton::before {
  content: attr(data-description);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  z-index: 1;
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  left: 55%;
}

.navButton:hover::before {
  display: block;
  opacity: 1;
}

.navButton img:hover {
  box-shadow: 0 0 10px #000000;
  transition: box-shadow 0.3s;
  border-radius: 50%;
  z-index: 3;
}

/* HOME INTERFACE VIDEO */

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

/* PLAY BUTTON HOME */

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    box-shadow 0.5s;
}

.play-button:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px 10px #eedf21;
}

.play-icon {
  font-size: 2rem;
  color: #ffffff;
}

/* MUSIC BUTTON HOME */

.music-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.music-toggle:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* MAIN ZONE */

main {
  display: flex;
  width: 100vw;
}

/* HUB */

.body {
  width: 100%;
  background-image: url("/town.png");
  background-size: cover;
}

.body img {
  z-index: 1;
  width: 60vw;
}

/* MENU PLAYER*/

.menu {
  color: white;
  padding: 10px;
  background: rgb(220, 23, 15);
  background: linear-gradient(
    0deg,
    rgba(220, 23, 15, 1) 0%,
    rgba(63, 94, 251, 1) 48%,
    rgba(52, 194, 54, 1) 94%
  );
  z-index: 20;
  border: 7px double #ffffff;
  height: 88.6vh;
  overflow: auto;
  width: 17vw;
}
.menu-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu .logo {
  text-align: center;
}

.menu .menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .menu-list li {
  padding: 1px;
  border-bottom: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu .menu-list li button {
  position: relative;
  background: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.menu .menu-list li button img {
  box-shadow: 0 0 5px #eedf21;
  transition: box-shadow 0.3s;
}

.menu .menu-list li button img:hover {
  box-shadow: 0 0 10px #eedf21;
}

/* BUTTON HUB */

.buttons-hub {
  display: flex;
  z-index: 2;
  align-items: center;
  gap: 2rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.buttons-hub button {
  background: none;
  border: none;
  cursor: pointer;
}

.buttons-hub img:hover {
  box-shadow: 0 0 10px #000000;
  transition: box-shadow 0.3s;
  border-radius: 50%;
}

.buttons-hub img {
  width: 32px;
}

.image-button::before {
  content: attr(data-description);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  z-index: 1;
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  left: 45%;
}

.image-button:hover::before {
  display: block;
  opacity: 1;
}

/*POKECENTER*/

.PokeCenter {
  width: 100%;
  background-image: url("/pokecenter.png");
  background-size: cover;
}

.pokeCenterImg {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.textPokeCenter {
  position: absolute;
  z-index: 20;
  font-size: 5vh;
  top: 9%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1%;
  right: 22%;
  border: 3px solid black;
}

.healPokemonButton {
  z-index: 20;
  right: 36%;
  position: absolute;
  width: auto;
  top: 23%;
  background: rgb(84, 212, 87);
  background: linear-gradient(
    30deg,
    rgba(84, 212, 87, 1) 0%,
    rgba(47, 192, 50, 1) 60%,
    rgba(28, 95, 30, 1) 100%
  );
  border-radius: 10px;
  padding: 1%;
  font-size: 3vh;
  border: 3px solid black;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.healPokemonButton:hover {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

/* POKESHOP */

.Pokeshop {
  width: 100%;
  background-image: url("/pokeshop.png");
  background-size: cover;
}

.textPokeshop {
  position: absolute;
  z-index: 20;
  font-size: 5vh;
  top: 9%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1%;
  right: 12%;
  border: 3px solid black;
}

.dlcPokeshop {
  position: absolute;
  z-index: 20;
  font-size: 3vh;
  top: 84.2%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1%;
  right: 65%;
  border: 3px solid black;
}

.shopPokemonButton {
  z-index: 20;
  right: 40.4%;
  position: absolute;
  width: auto;
  top: 23%;
  background: rgb(84, 212, 87);
  background: linear-gradient(
    30deg,
    rgba(84, 212, 87, 1) 0%,
    rgba(47, 192, 50, 1) 60%,
    rgba(28, 95, 30, 1) 100%
  );
  border-radius: 10px;
  padding: 1%;
  font-size: 3vh;
  border: 3px solid black;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.shopPokemonButton:hover {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

/* MENU BATTLE LOG */

.attackButton {
  position: absolute;
  top: 50%;
  left: 16.5%;
  width: 75px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    box-shadow 0.5s;
}

.attackButton button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.attackButton:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px 10px #eedf21;
}

.battleLog {
  background-image: url("/dialogue.png");
  background-size: cover;
  position: fixed;
  bottom: 3rem;
  right: 6rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  z-index: 1000;
  overflow: auto;
  width: 40rem;
  max-height: 8rem;
}

.battleLog p {
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}

.battleLog h4 {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressContainerEnemy,
.nameEnemy,
.progressContainerPlayer,
.namePlayer {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.progressContainerEnemy {
  top: 40%;
  left: 78%;
}

.nameEnemy {
  top: 37%;
  left: 75.6%;
}

.progressContainerPlayer {
  top: 54%;
  left: 32%;
}

.namePlayer {
  top: 50%;
  left: 30.4%;
}

/* BATTLE */

.battle {
  width: 100%;
  height: 88.5vh;
  background-size: 100% 100%;
}

.backgroundbeach {
  background-image: url("/backgroundbeach.png");
}

.backgroundearth {
  background-image: url("/backgroundearth.png");
}

.backgroundforest {
  background-image: url("/backgroundforest.png");
}

.backgroundgrass {
  background-image: url("/backgroundgrass.png");
}

.backgroundsea {
  background-image: url("/backgroundsea.png");
}

.battleGround {
  width: 100%;
  z-index: 10;
}

.trainers {
  position: absolute;
  z-index: 20;
  right: 35vw;
  top: 25vh;
  height: 40vh;
  width: auto;
}

.pokemonWild {
  position: absolute;
  z-index: 20;
  right: 10vw;
  top: 35vh;
  height: 40vh;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.battleButton {
  position: absolute;
  top: 14%;
  left: 18.7%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    box-shadow 0.5s;
}

.battleButton:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px 10px #eedf21;
}

.pokemonPlayer {
  position: absolute;
  z-index: 20;
  right: 60vw;
  top: 58vh;
  height: 40vh;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.animate-attack-right {
  animation: moveRight 0.3s ease-in-out;
}

.animate-attack-left {
  animation: moveLeft 0.3s ease-in-out;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
  }
}

.pokemon-appear {
  opacity: 0;
  transform: scale(0.5);
  animation: appearAnimation 1s ease-in-out forwards;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* STARTER */

.starter-container {
  display: flex;
  background-image: url(/starter.png);
  background-size: cover;
  width: 100%;
}

.pokechoice {
  position: absolute;
  z-index: 20;
  font-size: 5vh;
  left: 34.5%;
  top: 22%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1%;

  border: 3px solid black;
}

/* BUTTON STARTERS */

.buttons-starter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.9rem;
  margin-left: 22.1%;
}

.buttons-starter button {
  background: none;
  border: none;
  cursor: pointer;
}

.buttons-starter img {
  width: 19rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.buttons-starter :hover img {
  opacity: 1;
  box-shadow: 0 0 10px #f4f0f08d;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
}

/* POKEDEX */

.pokemondex {
  width: 100%;
  height: 88.6vh;
  background-image: url("/pokedexbackground.png");
  background-size: cover;
  justify-content: space-around;
}

.pokemondexul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 7.2rem 1rem;
}

.pokemon-card {
  position: relative;
  width: 14rem;
  height: 14rem;
  margin: 20px;
  padding: 5px;
  border: thick double #fcfcd5;
  text-align: center;
  background-image: url("/pokedexback.png");
  background-size: contain;
  border-radius: 2rem;
  overflow: hidden;
}

.pokemon-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.pokemon-card:hover::before {
  opacity: 1;
}

.pokemon-card button {
  position: relative;
  z-index: 2;
  border-radius: 0.5rem;
  background-color: rgba(26, 156, 0, 0.892);
  color: #ffffff;
  padding: 4px 4px;
  cursor: pointer;
  margin-top: 20px;
  border: solid #000000;
  top: 1%;
}

.pokemon-card button:hover {
  background-color: rgba(43, 255, 0, 0.892);
  color: #000000;
}

.pokemon-card div {
  color: #000000;
  margin-top: -9px;
  margin-bottom: 5px;
}

.unknown-pokemon {
  margin-top: 20px;
}

/* ARENE */

.arene {
  width: 100%;
  background-image: url("/arene.png");
  background-size: cover;
}

.textArene {
  position: absolute;
  z-index: 20;
  font-size: 4vh;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1%;
  border: 3px solid black;
  text-align: center;
  top: 55vh;
  right: -0vh;
  transform: translate(-90%, -50%);
  height: 9.4vh;
}

.areneButton {
  position: absolute;
  z-index: 20;
  font-size: 4vh;
  width: auto;
  background: linear-gradient(
    30deg,
    rgba(84, 212, 87, 1) 0%,
    rgba(47, 192, 50, 1) 60%,
    rgba(28, 95, 30, 1) 100%
  );
  border-radius: 10px;
  padding: 1%;
  border: 3px solid black;
  color: white;
  cursor: pointer;
  text-align: center;
  top: 43%;
  right: 25vh;
  transform: translate(-200%, -50%);
  transition: box-shadow 0.3s;
}

.areneButton:hover {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.trainersArene {
  position: absolute;
  z-index: 20;
  right: 4vw;
  top: 29vh;
  height: 70vh;
  width: auto;
}

/*FOOTER*/

footer {
  background: rgb(255, 17, 17);
  background: linear-gradient(
    45deg,
    rgba(255, 17, 17, 1) 13%,
    rgba(255, 0, 0, 1) 22%,
    rgba(190, 6, 6, 1) 70%
  );
  width: 100%;
  height: 4.7vh;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: auto;
  top: 100%;
}

footer img {
  height: 75%;
  margin-right: 3rem;
}

footer div {
  margin-left: 2rem;
  box-sizing: border-box;
  font-size: 13px;
}

/* ABOUT US */

.aboutus-container {
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

.aboutus-container video {
  width: 100%;
  height: auto;
}

.transparent-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
}

.aboutus-button {
  position: absolute;
  top: 10%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    box-shadow 0.5s;
}

.aboutus-button:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px 10px #eedf21;
}

/* RESPONSIVE HOME */

@media (max-width: 768px) {
  .play-button {
    width: 80px;
    height: 80px;
  }

  .play-icon {
    font-size: 1.5rem;
  }
}

/* RESPONSIVE BUTTON MUSIC */
@media (max-width: 768px) {
  .music-toggle {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 100px;
    padding: 10px;
  }

  .menu .menu-list li {
    padding: 5px 0;
  }
}

/* RESPONSIVE BUTTON MUSIC */

@media (max-width: 768px) {
  .music-toggle {
    width: 80px;
    height: 80px;
  }
}

/* PAGE 404 */

.background404 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.diglet {
  width: 200px;
  position: absolute;
  top: 70%;
  left: 45%;
}

.img404 {
  position: absolute;
  left: 26.5%;
  top: 10%;
}

.button404 {
  position: absolute;
  top: 50%;
  left: 44.5%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow:
    rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px,
    rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px,
    rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family:
    CerebriSans-Regular,
    -apple-system,
    system-ui,
    Roboto,
    sans-serif;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button404:hover {
  box-shadow:
    rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px,
    rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px,
    rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
