* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
/* NAVBAR */
.logo {
  width: 15vw;
  flex-shrink: 0;
  height: auto;
  margin: 2vh 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(84, 212, 87);
  background: linear-gradient(
    25deg,
    rgba(84, 212, 87, 1) 0%,
    rgba(47, 192, 50, 1) 50%,
    rgba(28, 95, 30, 1) 100%
  );
  padding: 0 2vw;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin-right: 5vw;
}

.navButton {
  width: 6vw;
  height: 15vh;
  border-radius: 15%;
  box-shadow: 0.5rem 0.5rem 0.25rem rgba(28, 95, 30, 1);
  border: 0;
}
/* HOME INTERFACE VIDEO */

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}


/* PLAY BUTTON */

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0,
    3s;
}

.play-button:hover {
  background-color: #eedf21;
  box-shadow: 0 0 10px #eedf21;
}

.play-icon {
  font-size: 2rem;
  color: #ffffff;
}

/* MUSIC BUTTON */

.music-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.music-toggle:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/* HUB */

.hub-container {
  display: flex;
}

.body {
  flex: 1;
}

.menu {
  flex: 0.1;
  width: 200px;
  color: white;
  padding: 20px;
  background: rgb(220, 23, 15);
  background: linear-gradient(
    0deg,
    rgba(220, 23, 15, 1) 0%,
    rgba(63, 94, 251, 1) 48%,
    rgba(52, 194, 54, 1) 94%
  );
}

.menu .logo {
  text-align: center;
}

.menu .menu-list {
  list-style: none;
  padding: 0;
}

.menu .menu-list li {
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.menu .menu-list li button {
  position: relative;
  background: none;
  border-radius: 10px;
  border: none;
}

.menu .menu-list li button img {
  box-shadow: 0 0 5px #eedf21;
  transition: box-shadow 0.3s;
}

.menu .menu-list li button img:hover {
  box-shadow: 0 0 10px #eedf21;
}

.body img {
  width: 100%;
  height: auto;
}


