* {
  margin: 0;
}

footer {
  background: rgb(255, 17, 17);
  background: linear-gradient(
    45deg,
    rgba(255, 17, 17, 1) 13%,
    rgba(255, 0, 0, 1) 22%,
    rgba(190, 6, 6, 1) 70%
  );
  padding: 1rem 0;
  padding-left: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
}
