/* home interface video */

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

/* responsive home */

@media (max-width: 768px) {
  .play-button {
    width: 80px;
    height: 80px;
  }

  .play-icon {
    font-size: 1.5rem;
  }
}

/* play button */

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0,
    3s;
}

.play-button:hover {
  background-color: #eedf21;
  box-shadow: 0 0 10px #eedf21;
}

.play-icon {
  font-size: 2rem;
  color: #ffffff;
}

/* music button */

.music-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.music-toggle:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* responsive button music */
@media (max-width: 768px) {
  .music-toggle {
    width: 80px;
    height: 80px;
  }
}

/* hub */

.hub-container {
  display: flex;
}

.body {
  flex: 1;
}

.menu {
  flex: 0.1;
  width: 200px;
  color: white;
  padding: 20px;
  background: rgb(220, 23, 15);
  background: linear-gradient(
    0deg,
    rgba(220, 23, 15, 1) 0%,
    rgba(63, 94, 251, 1) 48%,
    rgba(52, 194, 54, 1) 94%
  );
}

.menu .logo {
  text-align: center;
}

.menu .menu-list {
  list-style: none;
  padding: 0;
}

.menu .menu-list li {
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

/* Ajoutez une classe pour les images du Pokedex et du Sac */
.menu .menu-list li button {
  position: relative;
}

.menu .menu-list li button img {
  box-shadow: 0 0 5px #eedf21; /* Ajoute une ombre douce autour de l'image */
  transition: box-shadow 0.3s; /* Animation de transition pour l'ombre */
}

.menu .menu-list li button img:hover {
  box-shadow: 0 0 10px #eedf21; /* Effet "hover" avec une ombre plus prononcée */
}

.body img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .menu {
    width: 100px;
    padding: 10px;
  }

  .menu .menu-list li {
    padding: 5px 0;
  }
}
